:root {
--primary-color: #e48888;
--primary-color-rgb: 228,136,136;
--primary-font: 'Nunito Sans', sans-serif;
}
/*============================
SITE HEADER LAYOUT FOUR
============================*/
.site {
padding-left: 0;
-webkit-transition: all ease 0.35s;
-moz-transition: all ease 0.35s;
transition: all ease 0.35s;
}

.showing-main-menu-modal .site {
padding-left: 350px;
}

.header-four .header-banner-wrap::before {
display: none;
}

.site-header.layout-four .top-header {
padding: 0;
position: relative;
z-index: 999;
}

.site-header.layout-four .top-header .container {
padding: 0;
position: fixed;
top: 0;
left: 0;
width: 350px;
height: 100vh;
background: var(--white-color);
z-index: 999;
display: none;
}

.site-header.layout-four .top-header .toggle-button {
visibility: visible;
display: block;
padding: 0;
border: none;
text-align: center;
position: fixed;
top: 0;
left: 0;
background: var(--primary-color);
width: 40px;
height: 40px;
min-height: auto;
}

.showing-main-menu-modal .site-header.layout-four .top-header .toggle-button {
display: none;
}

.admin-bar .site-header.layout-four .top-header .toggle-button {
top: 32px;
}

.site-header.layout-four .top-header .toggle-button:hover {
    background: var(--heading-color);
}

.site-header.layout-four .top-header .toggle-button .toggle-bar {
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--white-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    transition: all ease 0.35s;
}

.site-header.layout-four .top-header .toggle-button .toggle-bar:first-child {
    top: -14px;
}

.site-header.layout-four .top-header .toggle-button .toggle-bar:nth-child(3) {
    bottom: -14px;
}

.site-header.layout-four .top-header .toggle-button:hover .toggle-bar {
    background: var(--white-color);
}

.showing-main-menu-modal .site-header.layout-four .top-header .toggle-button .toggle-bar:first-child {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
}

.showing-main-menu-modal .site-header.layout-four .top-header .toggle-button .toggle-bar:nth-child(2) {
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.showing-main-menu-modal .site-header.layout-four .top-header .toggle-button .toggle-bar:nth-child(3) {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.site-header.layout-four .main-navigation .close {
visibility: visible;
display: block;
padding: 0;
border: none;
text-align: center;
position: absolute;
top: 0;
left: 100%;
background: var(--primary-color);
width: 40px;
height: 40px;
min-height: auto;
}

.admin-bar .site-header.layout-four .main-navigation .close {
top: 32px;
/*margin-top: 32px;*/
}

.site-header.layout-four .main-navigation .primary-menu-list:not(.active) .close {
display: none;
}

.site-header.layout-four .main-navigation .close::before, 
.site-header.layout-four .main-navigation .close::after {
content: "";
position: absolute;
width: 25px;
height: 2px;
background: var(--white-color);
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transition: all ease 0.35s;
-moz-transition: all ease 0.35s;
transition: all ease 0.35s;
}

.site-header.layout-four .main-navigation .close::after {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.site-header.layout-four .top-header .primary-menu-list {
max-width: 100%;
height: 100vh;
display: block;
background: rgba(var(--primary-color-rgb), 0.1);
padding: 60px 30px 60px 10px;
}

.site-header.layout-four .top-header .container::before, 
.site-header.layout-four .top-header .container::after {
display: none;
}

.site-header.layout-four .top-header .site-branding {
flex: initial;
margin-bottom: 30px;
}

.site-header.layout-four .top-header .main-navigation {
width: 350px;
}

.site-header.layout-four .top-header .main-navigation .mobile-menu {
position: relative;
overflow: hidden;
height: 100%;
padding-left: 20px;
}

@media screen and (min-width: 1025px) {
    .site-header.layout-four .top-header .main-navigation .mobile-menu {
        height: 100% !important;
    }
}

.site-header.layout-four .top-header .main-navigation ul.menu > li {
display: block;
font-size: 0.8888em;
}

.site-header.layout-four .top-header .main-navigation ul li a {
display: block;
padding-left: 0;
padding-right: 0;
border-bottom: 1px solid rgba(var(--black-color-rgb), 0.08);
}

.site-header.layout-four .top-header .main-navigation .submenu-toggle {
display: block;
background: none;
padding: 0;
border: none;
position: absolute;
top: 0;
right: 0;
min-height: auto;
height: 60px;
width: 25px;
color: var(--heading-color);
font-weight: normal;
}
.site-header.layout-four .top-header .main-navigation .submenu-toggle.active {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
}

.site-header.layout-four .top-header .main-navigation ul li ul {
position: static;
width: 100%;
opacity: 1;
filter: alpha(opacity= 100);
visibility: visible;
background: none;
box-shadow: none;
-webkit-transition: none;
-moz-transition: none;
transition: none;
display: none;
}

.site-header.layout-four .header-right {
margin-top: 40px;
/*margin-bottom: 20px;*/
}

.site-header.layout-four .header-search .search-form {
background: rgba(var(--white-color-rgb),0.5);
border-bottom: none;
}

.site-header.layout-four .header-search .search-field {
padding-left: 15px;
}

.site-header.layout-four .header-search .search-form .search-submit {
background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23494949" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg>');
background-size: 17px;
background-position: center;
}

.site-header.layout-four .header-search .search-form .search-submit:hover {
background-color: transparent;
background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23e48888" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg>');
}

.site-header.layout-four .top-header .header-social {
justify-content: center;
margin-top: 20px;
}

.header-four.showing-main-menu-modal.rightsidebar .content-area, 
.header-four.showing-main-menu-modal.leftsidebar .content-area {
width: calc(100% - 300px);
}

.header-four.showing-main-menu-modal.rightsidebar .widget-area, 
.header-four.showing-main-menu-modal.leftsidebar .widget-area {
width: 300px;
}

.site-header.layout-four .top-header .ps__rail-y {
position: absolute;
background: none;
width: 10px;
border-radius: 12px;
opacity: 0;
}

.site-header.layout-four .ps:hover .ps__rail-y, 
.site-header.layout-four .ps:focus .ps__rail-y {
opacity: 1;
filter: alpha(opacity=100);
}

.site-header.layout-four .top-header .ps__rail-y .ps__thumb-y {
position: absolute;
top: 0;
left: 0;
right: 0;
width: 100%;
background: rgba(var(--primary-color-rgb), 0.25);
margin: 0 auto;
border-radius: 20px;
}

.header-four .header-banner-wrap .site-banner {
padding-top: 80px;
}

/*=========================
GRID LAYOUT
=========================*/
.grid-layout .site-main {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
margin-left: -1.5%;
margin-right: -1.5%;
}

.grid-layout .site-main article {
width: 47%;
margin-right: 1.5%;
margin-left: 1.5%;
margin-bottom: 50px;
position: relative;
}

.grid-layout.full-width .site-main article {
width: 30.33%;
}

.grid-layout .site-main article .post-thumbnail {
display: block;
margin-bottom: 30px;
}

.grid-layout .site-main article .entry-header {
margin-bottom: 0;
}

.grid-layout .site-main article .entry-title {
font-size: 1.1112em;
line-height: 1.5;
margin-top: 0;
margin-bottom: 0;
font-weight: 500;
}

.grid-layout .site-main article .entry-title a {
display: inline-block;
color: var(--heading-color);
text-decoration: none;
}

.grid-layout .site-main article .entry-title a:hover {
color: var(--primary-color);
}

.grid-layout .site-main article .entry-meta {
margin-top: 10px;
}

.grid-layout .site-main article .entry-meta > span {
margin-right: 20px;
font-size: 0.7778em;
display: inline-block;
vertical-align: middle;
font-weight: 400;
color: rgba(var(--black-color-rgb), 0.5);
}

.grid-layout .site-main article .entry-meta > span:last-child {
margin-right: 0;
}

.grid-layout .site-main article .entry-meta > span img {
display: none;
}

.grid-layout .site-main article .entry-meta > span a {
display: inline-block;
color: rgba(var(--black-color-rgb), 0.5);
margin-left: 5px;
}

.grid-layout .site-main article .entry-meta > span.byline a {
font-weight: 600;
}

.grid-layout .site-main article .entry-meta > span a:hover {
color: var(--primary-color);
}

.tags {
display: inline-block;
line-height: 1.3;
}

.tags span {
display: inline-block;
vertical-align: middle;
font-size: 0.6666em;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.5px;
color: var(--heading-color);
margin-top: 5px;
}

.tags a {
display: inline-block;
vertical-align: middle;
font-size: 0.7778em;
letter-spacing: 0.5px;
margin-left: 5px;
color: rgba(var(--black-color-rgb), 0.6);
margin-top: 5px;
}

.tags a:hover {
color: var(--primary-color);
}

.tags a:not(:last-child)::after {
content: ",";
color: rgba(var(--black-color-rgb), 0.6);
}

/*============================
RESPONSIVE STYLESHEET
============================*/
@media screen and (max-width: 1024px) {

    /*===========================
    SITE HEADER LAYOUT FOUR
    ===========================*/
    .site-header.layout-four .top-header .main-navigation .menu {
    display: block;
    background: none;
    max-height: unset;
    overflow: visible;
    box-shadow: none;
    position: static;
    }

    /*========================
    GRID LAYOUT
    ========================*/
    .grid-layout.full-width .site-main article {
    width: 47%;
    }

}

@media screen and (max-width: 782px) {
.admin-bar .site-header.layout-four .top-header .toggle-button {
    top: 46px;
}
}

@media screen and (max-width: 767px) {
    /*===========================
    SITE HEADER LAYOUT FOUR
    ===========================*/
    .showing-main-menu-modal .site {
    padding-left: 280px;
    overflow: hidden;
    }

    .showing-main-menu-modal .site::after {
    width: calc(100% - 280px);
    }

    .site-header.layout-four .top-header {
    width: 280px;
    }

    .site-header.layout-four .top-header .container {
    padding-bottom: 30px;
}

.site-header.layout-four .top-header .main-navigation {
    width: 280px;
}

.header-four.showing-main-menu-modal.rightsidebar .content-area, 
.header-four.showing-main-menu-modal.leftsidebar .content-area, 
.header-four.showing-main-menu-modal.rightsidebar .widget-area, 
.header-four.showing-main-menu-modal.leftsidebar .widget-area {
    width: 100%;
}

    /*========================
    GRID & MASONRY GRID LAYOUT
    ========================*/
    .grid-layout .site-main {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    }

    .grid-layout .site-main article, 
    .grid-layout.full-width .site-main article {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    }
}