#customize-controls .control-section-sublime-blog-upgrade-section .accordion-section-title:hover,
#customize-controls .control-section-sublime-blog-upgrade-section .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-sublime-blog-upgrade-section .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	border: none;
    color: #fff;
    position: relative;
    z-index: 99;
	background: -webkit-linear-gradient(90deg, #8C33DA 0%, #F34957 100%), linear-gradient(270deg, #3ABDED 0%, #505EE3 100%), #165FFF;
	background: -moz-linear-gradient(90deg, #8C33DA 0%, #F34957 100%), linear-gradient(270deg, #3ABDED 0%, #505EE3 100%), #165FFF;
	background: -ms-linear-gradient(90deg, #8C33DA 0%, #F34957 100%), linear-gradient(270deg, #3ABDED 0%, #505EE3 100%), #165FFF;
	background: -o-linear-gradient(90deg, #8C33DA 0%, #F34957 100%), linear-gradient(270deg, #3ABDED 0%, #505EE3 100%), #165FFF;
	background: linear-gradient(90deg, #8C33DA 0%, #F34957 100%), linear-gradient(270deg, #3ABDED 0%, #505EE3 100%), #165FFF;
}

.rtl .control-section-sublime-blog-upgrade-section .accordion-section-title .button {
    margin-left:  0;
    margin-right: 8px;
}

.control-section-sublime-blog-upgrade-section .accordion-section-title .button:hover {
	color: #8C33DA;
}

.control-section-sublime-blog-upgrade-section .accordion-section-title .button::before {
	content: "";
	background: #fff;
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	border-radius: 3px;
	z-index: -99;
	opacity: 0;
	visibility: hidden;
}

.control-section-sublime-blog-upgrade-section .accordion-section-title .button:hover::before {
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
}